<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Invoice Tracker</h1>
      {{invoice-list invoices = model
                     saveInvoice = (action "saveInvoice")
                     deleteInvoice = (action "deleteInvoice")}}
    </div>
  </div>
</div>
